body{
    padding: 0;
    margin:0;
    background-color: #FFDB89;
    font-family: 'Cabin Sketch', cursive;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.dices{
    display: flex;
    gap:10vw;
}